---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: reloader
  namespace: kube-system
spec:
  releaseName: reloader
  chart:
    spec:
      chart: reloader
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  interval: 10m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    reloader:
      deployment:
        resources:
          requests:
            cpu: 15m
            memory: 63Mi
          limits:
            cpu: 45m
            memory: 100Mi
      reloadStrategy: annotations
