---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nvidia-device-plugin
  namespace: kube-system
spec:
  releaseName: nvidia-device-plugin
  chart:
    spec:
      chart: nvidia-device-plugin
      version: 0.17.0
      sourceRef:
        kind: HelmRepository
        name: nvidia-device-plugin
        namespace: flux-system
  interval: 10m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    podAnnotations:
      configmap.reloader.stakater.com/reload: nvidia-helm-values
    config:
      name: nvidia-helm-values
    runtimeClassName: "nvidia"
    gfd:
      enabled: true
    nfd:
      enabled: false
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 512Mi
