---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: eraser
  namespace: kube-system
spec:
  releaseName: eraser
  chart:
    spec:
      chart: eraser
      version: 1.3.1
      sourceRef:
        kind: HelmRepository
        name: eraser
        namespace: flux-system
  interval: 10m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
