---
- name: Extend the logical volume to take all remaining space of the PVs and resize the underlying filesystem
  community.general.lvol:
    vg: ubuntu-vg
    lv: ubuntu-lv
    size: +100%FREE
    resizefs: true
  failed_when: false
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_virtualization_role == "guest"
