---
- name: Ansible | Install dependancies packages
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - pipx

- name: Ansible | Pipx install
  community.general.pipx:
    name: ansible
    install_deps: true
