---
- name: Check out dotfiles from repository
  ansible.builtin.git:
    repo: https://github.com/irish1986/dotfiles.git
    version: abcd1234
    dest: "{{ lookup('env', 'HOME') }}/.dotfile"
    clone: true
    update: true
