---
- name: Nvidia | Add repository (amd64)
  apt_repository:
    repo: ppa:graphics-drivers/ppa
    state: present

- name: Nvidia | Install workstation APT packages
  ansible.builtin.apt:
    name: nvidia-driver-545
    state: present
