---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: nvidia-device-plugin
  namespace: flux-system
spec:
  interval: 60m
  url: https://nvidia.github.io/k8s-device-plugin
