---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: kube-system
spec:
  releaseName: node-feature-discovery
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.16.6
      sourceRef:
        kind: HelmRepository
        name: node-feature-discovery
        namespace: flux-system
  interval: 10m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    master:
      resources:
        requests:
          cpu: 21m
          memory: 150Mi
        limits:
          memory: 150Mi
    worker:
      resources:
        requests:
          cpu: 5m
          memory: 150Mi
        limits:
          memory: 150Mi
    gc:
      resources:
        requests:
          cpu: 20m
          memory: 128Mi
        limits:
          memory: 1Gi
