---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kubereboot
  namespace: kube-system
spec:
  releaseName: kubereboot
  chart:
    spec:
      chart: kured
      version: 5.5.2
      sourceRef:
        kind: HelmRepository
        name: kubereboot
        namespace: flux-system
  interval: 10m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
