---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nfs-external-provisioner
  namespace: kube-system
spec:
  releaseName: nfs-subdir-external-provisioner
  chart:
    spec:
      chart: nfs-subdir-external-provisioner
      version: 4.0.18
      sourceRef:
        kind: HelmRepository
        name: nfs-subdir-external-provisioner-charts
        namespace: kube-system
  interval: 10m
  timeout: 5m
  values:
    nfs:
      server: 192.168.30.11
      path: /mnt/rusty/data
    storageClass:
      defaultClass: false
